In [4]:
import os
import pandas as pd

base_path = './ingredient/'
files=['v1_JuanDiErShenXianFuShi.csv_ingredient.csv','v1_JuanDiErShiLiaoZhuBing.csv_ingredient.csv','v1_JuanDiErZhuBanTangJian.csv_ingredient.csv','v1_JuanDiYiJuZhenYiZhuan_1.csv_ingredient.csv', 'v1_JuanDiYiJuZhenYiZhuan_2.csv_ingredient.csv','v1_JuanDiYiJuZhenYiZhuan_3.csv_ingredient.csv']

dfs=[]

total_shape=[0,3]

for file_name in files:
    df = pd.read_csv(os.path.join(base_path, file_name),encoding = "UTF-8")
    dfs.append(df)
    print(df.shape)
    total_shape[0]+=df.shape[0]
print(total_shape)

(36, 3)
(174, 3)
(138, 3)
(250, 3)
(142, 3)
(2, 3)
[742, 3]

In [5]:
ingredient_df=pd.concat(dfs)
print(ingredient_df.shape)
# ingredient_df=pd.DataFrame(ingredient_df['Ingredient']).reset_index(drop=True)
display(ingredient_df)
ingredient_df=pd.DataFrame(ingredient_df['Ingredient'].unique(),columns=['Ingredient'])
# print(ingredient_df['Ingredient'].drop_duplicates)
display(ingredient_df)
# print(ingredient_df[ingredient_df['Ingredient']=='荆芥穗'])

(742, 3)

    Food_Name Ingredient Amount
0         神枕法         半夏    NaN
1         神枕法         菵草    NaN
2         神枕法         藜芦    NaN
3         神枕法         凡石    NaN
4         神枕法         皂角    NaN
..        ...        ...    ...
139       姜黄鱼         豆粉     一斤
140       姜黄鱼         白面     二斤
141       姜黄鱼         鲤鱼     十个
0      米哈讷关列孙        羊后脚     一个
1        颇儿必汤        颇儿必   三四十个

[742 rows x 3 columns]

    Ingredient
0           半夏
1           菵草
2           藜芦
3           凡石
4           皂角
..         ...
275          蜜
276         猪头
277         鲤鱼
278        羊后脚
279        颇儿必

[280 rows x 1 columns]

In [50]:
ingredient_df.to_csv(f'unique_categorize/unique_ingredient.csv', index=False, encoding='utf-8-sig')

In [6]:
ingredient_df = pd.read_csv(f'unique_categorize/unique_ingredient.csv',encoding = "utf-8-sig")
category_list={'dairy_product':['酥油','奶'],
               'meat':['鸡','猪','羊','驴','肉','鸽','鸭','牛','鹿','兔','马','蹄','肠','雁'],
               'vegetable':['菜','粟','葱','萝卜','笋','黄瓜','茄','秦椒','韭','藕'],
               'plant':['草','花','叶','豆','萸','乌头','荆芥穗','桂'],
               'fruit':['石榴','桃','橘','枣','梅','杏','栀'],
               'seafood':['鱼'],
               'condiment':['盐','糖'],
               'spice':['蜀椒','姜','蒜','椒'],
               'juice':['汁'],
               'grain':['米','饼','面','大麦','仁'],
               'tea':['茶'],
               'chinese_medicinal_material':['夏','角','枸杞','香','皮','仁','荆实','人参','砂','膏','官桂','味']}
for ingredient in ingredient_df['Ingredient'].values:
    flag=True
    # print(ingredient)
    for category in category_list:
        # print(category)
        for category_ingredient in category_list[category]:
            # print('category_ingredient:',category_ingredient)
            if category in ingredient:
                ingredient_df.loc[ingredient_df['Ingredient']==ingredient,'category']=category
                flag=False
                break
    if flag:
        ingredient_df.loc[ingredient_df['Ingredient']==ingredient,'category']='other'
display(ingredient_df)

    Ingredient category
0           半夏    other
1           菵草    other
2           藜芦    other
3           凡石    other
4           皂角    other
..         ...      ...
275          蜜    other
276         猪头    other
277         鲤鱼    other
278        羊后脚    other
279        颇儿必    other

[280 rows x 2 columns]

In [74]:
#ingredient_df.to_csv(f'./ingredient_category.csv', index=False, encoding='utf-8-sig')

In [7]:
print((ingredient_df['category']=='other').sum())

280